* {
    font-family: Garamond, serif;
}

h1,
h2 {
    text-align: center;
    color: #ffffff;
}

h1 {
    background-color: #ff0000;
}

h2 {
    background-color: #008000;
}

.mexican_chef {
    height: auto;
    width: 370px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.barbacoa_tacos {
    height: auto;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #ff0000;
}

.birria_de_res_tacos {
    height: auto;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #ff0000;
}