* {
    font-family: Garamond, serif;
}

h1,
h2 {
    text-align: center;
    color: #ffffff;
}

h1 {
    background-color: #ff0000;
    font-size: 40px;
}

h2 {
    background-color: #008000;
    font-size: 30px;
}

.mexican_chef,
.barbacoa_tacos,
.birria_de_res_tacos,
.tacos_al_pastor {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.barbacoa_tacos,
.birria_de_res_tacos,
.tacos_al_pastor {
    border-style: solid;
    border-color: #ff0000;
}

.mexican_chef {
    width: 370px;
}

.barbacoa_tacos {
    width: 600px;
}

.birria_de_res_tacos {
    width: 450px;
}

.tacos_al_pastor {
    width: 800px;
}